<article class="">
    <section class="p-5 flex flex-col justify-center items-center lg:flex-row custom:flex-row md:flex-row mt-[4rem] text-[#454343] text-[3vmin] lg:text-[1.3rem] md:text-[1rem]">
        <header class="font-syne">
            <h2 class="font-tillana text-[#246B2B] font-bold text-[4vmin] lg:text-[1.5rem] md:text-[1.2rem] lg:w-[60%] mb-5">
                Transformamos desechos en belleza sostenible
            </h2>
            <p class="mb-3">
                En Reviv, creemos en la magia de la transformación. Nuestra misión es dar 
                una nueva vida a los materiales desechados, convirtiéndolos en productos 
                únicos y valiosos. Nos apasiona la sostenibilidad y estamos comprometidos 
                con la reducción de residuos, promoviendo un estilo de vida más consciente
                y respetuoso con el medio ambiente.
            </p>
            <p>
                Cada producto en nuestra tienda está hecho <span class="text-[#52A65A]">a partir de materiales 
                reciclados o reutilizados</span>, ayudando a reducir el impacto ambiental.
            </p>
        </header>
        <img class="mt-5 w-[100%] lg:w-[40%] md:w-[50%] custom:w-[70%]" src="../../../assets/images/ecoimg.png" alt="">
    </section>

    <section class="mt-[3rem] bg-green-100 p-5 pb-0" >
        <app-info-card />
        <div class="mt-[3rem] text-[3vmin] lg:text-[1.3rem] md:text-[1rem]">
            <h3 class="font-tillana text-[#06430C] font-bold  text-[4vmin] lg:text-center md:text-center lg:text-[1.5rem] md:text-[1.2rem]">Descubre la magia del reciclaje en Reviv: ¡Transforma y embellece con conciencia</h3>
            <div class="mt-[2rem] flex flex-col-reverse justify-center items-center lg:flex-row md:flex-row gap-3 overflow-hidden">
                <img class="w-[50%] lg:w-full md:w-full" src="../../../assets/images/planta.png" alt="">
                <p class="text-[#454343] lg:p-8">
                    Cada pieza no solo es única y artesanal, sino que también 
                    representa nuestro compromiso con la sostenibilidad y la 
                    creatividad. Desde muebles renovados hasta accesorios de moda y 
                    decoración para el hogar, cada compra en Reviv no solo embellece 
                    tu espacio, sino que también contribuye a un futuro más verde. 
                    Únete a nosotros en nuestro viaje hacia un consumo consciente y 
                    haz una elección que marque la diferencia.
                </p>
            </div>
        </div>
    </section>

    <section>
        <app-home-images />
    </section>
</article>
<footer class="p-5 bg-green-100">
    <app-footer />
    <p class="font-tillana font-bold text-[#06430c7d] text-center mt-5">Copyright ©2024 | By Cristal Melissa Tavárez Novas</p>
</footer>