<div class="flex flex-col-reverse lg:flex-row md:flex-row justify-center items-center gap-[5rem]">
    <div>
        <app-logo />
        <hr class="mt-5 border-t-2 border-[#6C6969] w-[100%]"/>
        <!--Link que dirige a redes sociales-->
        <div class="mt-5 flex gap-3 text-[#6C6969] text-[2rem]">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/cristal-melissa-tav%C3%A1rez-novas-793b042a6"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/CristalpyC"><i class="fab fa-github"></i></a>
        </div>
    </div>
     <!--Componente de formulario-->
     <app-form />
</div>